/***************************************************************
Base CSS =======================================================
***************************************************************/
:root {
  /* [Var] Color Palette (Blue-Beige) [--b* or --a*] */
  --color-ocean-light: hsl(204, 90%, 25%);
  --color-ocean-dark: hsl(204, 98%, 15%);
  --color-sky-light: hsl(195, 80%, 90%);
  --color-sky-dark: hsl(190, 85%, 80%);
  --color-sand-light: hsl(47, 80%, 95%);
  --color-sand-dark: hsl(47, 60%, 90%);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) [--t*] */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xlg: 1.6rem;
  --text-size-title: 2.5rem;
  /* Others */
  --wave-height: 20px;

  /* [Fixed] Font (Inter Best Font)[--f*] */
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt", "ss03", "cv02", "cv05", "cv11";
  /* Make sure the scrolling is smooth */
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

/* Html Body/Base Background */
html {
  min-width: calc(320px + 2rem);

  .side-padding {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 320px;
  }
}

body {
  background: var(--color-sky-dark);
  font-size: var(--text-size-md);
  color: var(--color-ocean-dark);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Text */
h1 {
  text-transform: capitalize;
  font-size: var(--text-size-title);
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: var(--text-size-xlg);
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
}

/* Text Margin and Color */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

a {
  font-weight: 500;
  color: var(--base-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: rgb(from var(--color-ocean-light) r g b);
  }
}

span.inline-block {
  display: inline-block;
}

/***************************************************************
[ALL] Navigation Bar Design ====================================
***************************************************************/
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: hsla(from var(--color-sky-dark) h s l / 0.7);
  border-bottom: hsl(from var(--color-sky-dark) h s l) solid 1px;
  backdrop-filter: blur(8px);
  z-index: 3;

  .logo {
    height: 2rem;
    width: 2rem;
    margin-bottom: -0.6rem;
    margin-top: -0.4rem;
  }

  a {
    font-weight: bold;
  }
}

.navMenu {
  position: fixed;
  top: 0;
  /* Same right as side-padding padding-right */
  right: 1rem;
  display: flex;
  flex-direction: row;
  z-index: 3;

  a {
    padding: 1rem;
  }

  a:hover {
    background-color: var(--color-sky-light);
  }
}

/* Mobile Version */
@media all and (width < 600px) {
  .navMenu {
    top: 3.5rem;
    /* Same right as side-padding padding-right */
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 3;
    background-color: hsla(from var(--color-sky-dark) h s l / 0.7);
    backdrop-filter: blur(8px);
    height: 0;
    overflow-x: hidden;
  }

  .menu-wrapper:has(#toggle-menu:checked) {
    .navMenu {
      height: auto;
      border-top: gray solid 1px;
      border-bottom: gray solid 1px;
    }
  }
}

/* Desktop & tablet Version */
@media all and (width >=600px) {
  #toggle-menu-label {
    display: none;
  }
}

/***************************************************************
[<1000px] Layout: Page Design (Main) ===========================
***************************************************************/
/* Hero Section Stuff ======================================= */
.hero-section {
  width: 100%;
  /* pt of 3rem to avoid overlap with fixed header */
  padding-top: calc(3rem + 30px);
  padding-bottom: 0;
  background: linear-gradient(var(--color-sky-dark), var(--color-sky-light));

  /* Ensure hero-text is above waves-background */
  .hero-text {
    position: relative;
    z-index: 2;
  }

  #hero-subheading {
    text-transform: capitalize;
    font-weight: bold;
  }

  p {
    padding-bottom: 2rem;
    width: min(450px, 100%);
    min-width: 320px;
  }
}

.waves-background {
  display: flex;
  flex-direction: column;
  margin-top: -210px;
  position: relative;
  z-index: 1;
}

/* Waves from https://codepen.io/goodkatz/pen/LYPGxQz*/
.waves {
  color: var(--color-ocean-light);
  position: relative;
  width: 100%;
  height: var(--wave-height);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) var(--wave-height), var(--color-ocean-light) var(--wave-height), var(--color-ocean-light) 100%);
  padding-bottom: 2rem;
  /* Fix for safari gap */
  margin-bottom: -8px;
}

/* Sailboat on the Waves */
#sailboat {
  height: 300px;
  aspect-ratio: 36 / 42;
  bottom: 0;
  align-self: flex-end;
  margin-right: 8px;
  margin-bottom: -18px;
  z-index: 0;
  animation: sailboat-wave 5s ease-in-out infinite;
  transform-origin: 20% 20%;
}

/* Other Section Stuff =================================== */
section {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#about {
  background-color: var(--color-ocean-light);
  color: var(--color-sand-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* No padding-bottom for the curved svg background */
  padding-bottom: 0;

  .goals {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      width: 8rem;
      margin: 0 0.5rem;
      margin-top: 1rem;
    }
  }
}

.center-text {
  text-align: center;
  max-width: 780px;
}

.events-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sand-dark);
  color: var(--color-ocean-dark);
  padding-top: 0;
  padding-bottom: 0;
  /* Fix for safari gap */
  margin-bottom: -8px;
}

#events {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.curved-svg-background {
  width: 100%;
  height: 2rem;
  min-width: 320px;
}

#take-part {
  background-color: var(--color-sky-light);
  color: var(--color-ocean-dark);
}

#contact-us {
  background-color: var(--color-sky-dark);
  color: var(--color-ocean-dark);
}

/***************************************************************
[>=1000px] Layout: Split-Screen Design =========================
***************************************************************/

@media all and (width >=1000px) {}