/***************************************************************
Base CSS =======================================================
***************************************************************/
:root {
  /* [Var] Color Palette (Blue-Beige) [--b* or --a*] */
  --color-ocean-light: hsl(204, 100%, 25%);
  --color-ocean-dark: hsl(204, 95%, 15%);
  --color-sky-light: hsl(200, 80%, 75%);
  --color-sky-dark: hsl(208, 70%, 65%);
  --color-sand-light: hsl(47, 60%, 95%);
  --color-sand-dark: hsl(47, 45%, 80%);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) [--t*] */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-title: 2.5rem;
  /* [Fixed] Font (Inter Best Font)[--f*] */
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt", "ss03", "cv02", "cv05", "cv11";
  /* Make sure the scrolling is smooth */
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

/* Html Body/Base Background */
html {
  min-width: calc(320px + 2rem);

  .side-padding {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 320px;
  }
}

body {
  background: var(--color-sky-light);
  font-size: var(--text-size-md);
  color: var(--color-ocean-dark);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Text */
h1 {
  text-transform: capitalize;
  font-size: var(--text-size-title);
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: var(--text-size-lg);
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
}

/* Text Margin and Color */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

a {
  color: var(--base-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: rgb(from var(--color-ocean-light) r g b);
  }
}

/***************************************************************
[ALL] Navigation Bar Design ====================================
***************************************************************/
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: hsla(from var(--color-sky-dark) h s l / 0.7);
  border-bottom: hsl(from var(--color-sky-dark) h s l) solid 1px;
  backdrop-filter: blur(8px);
  z-index: 3;
}

/* Mobile Version */
@media all and (width < 600px) {
  .navMenu {
    position: fixed;
    top: 3.5rem;
    /* Same right as side-padding padding-right */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 3;
    background-color: hsla(from var(--color-sky-dark) h s l / 0.7);
    backdrop-filter: blur(8px);
    height: 0;
    overflow-x: hidden;

    a {
      padding: 0.5rem 1rem;
      transition: all 0.5s ease;
    }

    a:hover {
      color: rgb(from var(--color-ocean-light) r g b);
      background-color: var(--color-sky-light);
    }
  }

  .menu-wrapper:has(#toggle-menu:checked) {
    .navMenu {
      height: auto;
      border-top: gray solid 1px;
      border-bottom: gray solid 1px;
    }
  }
}

/* Desktop & tablet Version */
@media all and (width >=600px) {
  #toggle-menu-label {
    display: none;
  }

  .navMenu {
    position: fixed;
    top: 0;
    /* Same right as side-padding padding-right */
    right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 3;

    a {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

/***************************************************************
[<1000px] Layout: Page Design (Main) ===========================
***************************************************************/
/* Hero Section Stuff ======================================= */
.hero-section {
  width: 100%;
  /* pt of 3rem to avoid overlap with fixed header */
  padding-top: calc(3rem + 65px);
  padding-bottom: 0;
  background: linear-gradient(to bottom, var(--color-sky-dark) 7rem, var(--color-sky-light));

  /* Ensure hero-text is above waves-background */
  .hero-text {
    position: relative;
    z-index: 2;
  }

  #hero-subheading {
    text-transform: capitalize;
    font-weight: bold;
  }

  p {
    padding-bottom: 2rem;
    width: min(440px, 100%);
    min-width: 320px;
  }
}

.waves-background {
  display: flex;
  flex-direction: column;
  margin-top: -210px;
  position: relative;
  z-index: 1;
}

/* Waves from https://codepen.io/goodkatz/pen/LYPGxQz*/
.waves {
  color: var(--color-ocean-light);
  position: relative;
  width: 100%;
  height: 30px;
  /* Fix for safari gap */
  margin-bottom: -8px;
}

/* Sailboat on the Waves */
#sailboat {
  height: 300px;
  aspect-ratio: 36 / 42;
  bottom: 0;
  align-self: flex-end;
  margin-right: 4px;
  margin-bottom: -27px;
  z-index: 0;
  animation: sailboat-wave 5s ease-in-out infinite;
}

/* move up and down 0.5rem and tilt/rotate a little */
@keyframes sailboat-wave {
  0% {
    transform: translateY(0) rotate(-0.5deg);
  }

  50% {
    transform: translateY(2px) rotate(0.5deg);
  }

  100% {
    transform: translateY(0) rotate(-0.5deg);
  }
}

/* Main Section(s) Stuff =================================== */
main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--color-ocean-light);
  color: var(--color-sand-light);

  section {
    margin: 0;
    padding-bottom: 2rem;
  }
}

/***************************************************************
[>=1000px] Layout: Split-Screen Design =========================
***************************************************************/

@media all and (width >=1000px) {}